body {
    background: url(https://img.alicdn.com/imgextra/i1/1021291283/TB2qGxtX9zC11BjSszhXXbGVFXa_!!1021291283.jpg)no-repeat;
    background-size: 100% 120%;
}

.ct {
    overflow: auto;
    margin: 0 auto;
    margin-top: 30px;
    width: 512px;
    height: 850px;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 5px rgba(1, 1, 1, 0.28);
    background: #fff;
}

.head {
    width: 100%;
    height: 79px;
    display: inline-block;
}

.head li:first-child img {
    width: 79px;
    height: 79px;
    border-radius: 39.5px;
}

.head li {
    float: left;
    list-style: none;
    height: 79px;
}

span {
    display: block;
    font-size: 8px;
}

hr {
    margin: 0px;
    height: 4px;
    background: black;
}

.li2 {
    margin-top: 11.5px;
}

.head ul:nth-child(1)>li:nth-child(2) span {
    margin-left: 20px;
    text-align: center;
}

.head ul:nth-child(1)>li:nth-child(2) span:first-child {
    font-size: 30px;
}

.head ul:nth-child(1)>li:nth-child(3) {
    margin-left: 25px;
}

.li3 span {
    font-size: 5px;
}

.work,
.education {
    width: 100%;
    height: 215px;
}

.work h4,
.education h4,
.extra h4 {
    margin-bottom: 14px;
    margin-left: 40px;
}

.work hr,
.education hr,
.extra hr {
    margin-left: 40px;
    margin-bottom: 14px;
    width: 200px;
    height: 1px;
    opacity: 0.3;
}

.work {
    position: relative;
}

.education {
    margin-top: 110px;
}

.box {
    position: absolute;
    display: inline-block;
    z-index: 3;
}

.box .ccl {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: black;
    margin-top: 5px;
}

.box .line {
    width: 1.5px;
    height: 74px;
    background: gray;
    margin-left: 1.75px;
    margin-top: -1px;
}

ul p {
    font-size: 6px;
    margin-top: -5px;
}

li {
    list-style: none;
}

ul li>p {
    margin-left: 20px;
    word-wrap: break-word;
}

.work ul li p span,
.education ul li p span {
    display: inline-block;
    color: rgba(1, 1, 1, 0.5);
}

.extra li {
    float: left;
}

.p1 {
    width: 190px;
}

.extra li {
    margin-left: -40px;
}

.extra p {
    margin-left: 64px;
}

.extra-li2>h4,
.extra-li2>hr {
    margin-left: 60px;
}

.extra-li2>hr {
    width: 240px;
}

.extra img {
    margin: 0;
    width: 11px;
    height: 11px;
    margin-left: 40px
}

.extra-li2 img {
    margin-left: 59px;
}

.extra p {
    display: inline-block;
    margin-left: 10px
}

.extra-li2:after {
    content: '';
    display: inline-block;
    clear: both;
}